{% extends 'vertical.html' %}

{% load static %}

{% block title %}Kanban Board{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Kanban Board' topbarSubtitle='Apps' %}
{% endblock page_title %}

{% block page_content %}

<div class="row" data-plugin="dragula" data-containers='["upcoming", "in-progress","completed"]'>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-more-2-fill m-0 text-muted h3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Delete</a>
                        <a class="dropdown-item" href="#">Add Members</a>
                        <a class="dropdown-item" href="#">Add Due Date</a>
                    </div>
                </div> <!-- end dropdown -->

                <h4 class="header-title">Upcoming</h4>
                <p class="sub-header">
                    Your awesome text goes here. Your awesome text goes here.
                </p>

                <div class="tasklist" id="upcoming">
                    <div class="card" id="task1">
                        <div class="card-body">
                            <span class="badge bg-soft-danger text-danger float-end">High</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">iOS App home
                                    page</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i> Oct 16,
                                        2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-1.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-3.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="task2">
                        <div class="card-body">
                            <span class="badge bg-soft-success text-success float-end">Low</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Topnav layout
                                    design</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>Many desktop publishing packages and web page.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Nov 22, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-2.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="task3">
                        <div class="card-body">
                            <span class="badge bg-soft-danger text-danger float-end">High</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Invite user to
                                    a project</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>If you are going to use a passage of Lorem Ipsum.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Oct 15, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-5.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card task-info" id="task4">
                        <div class="card-body">
                            <span class="badge bg-soft-warning text-warning float-end">Medium</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Write a
                                    release note</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Dec 03, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-6.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-7.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a href="javascript: void(0);" class="btn btn-primary w-100 mt-3 "><i class="ri-add-line"></i> Add
                    New</a>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-more-2-fill m-0 text-muted h3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Delete</a>
                        <a class="dropdown-item" href="#">Add Members</a>
                        <a class="dropdown-item" href="#">Add Due Date</a>
                    </div>
                </div> <!-- end dropdown -->

                <h4 class="header-title">In Progress</h4>
                <p class="sub-header">
                    Your awesome text goes here.
                </p>

                <div class="tasklist list-unstyled" id="in-progress">
                    <div class="card" id="task6">
                        <div class="card-body">
                            <span class="badge bg-soft-warning text-warning float-end">Medium</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Enable
                                    analytics tracking</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>It has roots in a piece of classical Latin literature from 45 BC.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Sep 18, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-8.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card task-info" id="task7">
                        <div class="card-body">
                            <span class="badge bg-soft-danger text-danger float-end">High</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Kanban board
                                    design</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined.
                            </p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Oct 30, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-9.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-10.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card task-danger" id="task8">
                        <div class="card-body">
                            <span class="badge bg-soft-success text-success float-end">Low</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Code HTML
                                    email template</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Nov 23, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-1.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-3.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a href="javascript: void(0);" class="btn btn-primary w-100 mt-3 "><i class="ri-add-line"></i> Add
                    New</a>
            </div>
        </div> <!-- end card -->
    </div> <!-- end col -->

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-more-2-fill m-0 text-muted h3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Delete</a>
                        <a class="dropdown-item" href="#">Add Members</a>
                        <a class="dropdown-item" href="#">Add Due Date</a>
                    </div>
                </div> <!-- end dropdown -->

                <h4 class="header-title">Completed</h4>
                <p class="sub-header">
                    Your awesome text goes here. Your awesome text goes here.
                </p>

                <div class="tasklist list-unstyled" id="completed">
                    <div class="card task-warning" id="task10">
                        <div class="card-body">
                            <span class="badge bg-soft-success text-success float-end">Low</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Brand logo
                                    design</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>Various versions have evolved over the years, sometimes by accident.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Jun 13, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-3.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card task-success" id="task11">
                        <div class="card-body">
                            <span class="badge bg-soft-warning text-warning float-end">Medium</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Improve
                                    animation loader</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>A handful of model sentence structures, to generate Lorem Ipsum which
                                looks
                                reasonable.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Oct 16, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-4.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-7.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" id="task12">
                        <div class="card-body">
                            <span class="badge bg-soft-danger text-danger float-end">High</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">Dashboard
                                    Re-design</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Oct 16, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-5.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-9.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card task-info" id="task13">
                        <div class="card-body">
                            <span class="badge bg-soft-success text-success float-end">Low</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark fw-semibold">iOS App home
                                    page</a></h5>
                            <div class="form-check float-end ps-0">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                            <p>you need to be sure there isn't anything embarrassing hidden in the
                                middle of
                                text.</p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="ri-calendar-event-line me-1"></i>
                                        Oct 16, 2018</p>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="{% static '/images/users/avatar-10.jpg' %}" alt="task-user"
                                                class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="javascript: void(0);" class="btn btn-primary w-100 mt-3 "><i class="ri-add-line"></i> Add
                    New</a>
            </div>
        </div> <!-- end card -->
    </div> <!-- end col -->

</div>

{% endblock page_content %}

{% block extra_javascript %}
<script src="{% static '/vendor/dragula/dragula.min.js' %}"></script>

<!-- Custom js -->
<script src="{% static '/js/pages/apps-kanban.js' %}"></script>
{% endblock extra_javascript %}