{% extends 'vertical.html' %}

{% load static %}

{% block title %}Invoices{% endblock title %}

{% block extra_css %}
<link href="{% static '/vendor/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Dashboard' topbarSubtitle='' %}
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-bottom card-tabs d-flex flex-wrap align-items-center gap-2">
                <div class="flex-grow-1">
                    <h4 class="header-title">Invoices</h4>
                </div>

                <div class="d-flex flex-wrap flex-lg-nowrap gap-2">
                    <div class="flex-shrink-0 d-flex align-items-center gap-2">
                        <div class="position-relative">
                            <input type="text" class="form-control ps-4" placeholder="Search Here...">
                            <i class="ri-search-line position-absolute top-50 translate-middle-y start-0 ms-2"></i>
                        </div>
                    </div>
                    <a href="{% url 'pages:dynamic_pages' template_name='apps-invoice-create' %}" class="btn btn-primary"><i class="ri-add-line me-1"></i>Add
                        Invoice</a>
                </div><!-- end d-flex -->
            </div>

            <div class="table-responsive">
                <table class="table table-hover text-nowrap mb-0">
                    <thead class="bg-light-subtle">
                        <tr>
                            <th class="ps-3" style="width: 50px;">
                                <input type="checkbox" class="form-check-input" id="customCheck1">
                            </th>
                            <th class="fs-12 text-uppercase text-muted">Invoice ID</th>
                            <th class="fs-12 text-uppercase text-muted">Category </th>
                            <th class="fs-12 text-uppercase text-muted">Created On</th>
                            <th class="fs-12 text-uppercase text-muted">Invoice To</th>
                            <th class="fs-12 text-uppercase text-muted">Amount</th>
                            <th class="fs-12 text-uppercase text-muted">Due Date</th>
                            <th class="fs-12 text-uppercase text-muted">Status</th>
                            <th class="text-center fs-12 text-uppercase text-muted" style="width: 120px;">Action</th>
                        </tr>
                    </thead>
                    <!-- end table-head -->

                    <tbody>
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck2">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1020@20</span></td>
                            <td>Fashion</td>
                            <td><span class="fs-15 text-muted">12 Apr 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-2.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Raul Villa</h6>
                                </div>
                            </td>
                            <td>$42,430</td>
                            <td><span class="fs-15 text-muted">12 Apr 2024</span></td>
                            <td>
                                <span class="badge bg-success-subtle text-success fs-12 p-1">Paid</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck3">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1240@25</span></td>
                            <td>Electronics</td>
                            <td><span class="fs-15 text-muted">14 Apr 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-3.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Fae Sims</h6>
                                </div>
                            </td>
                            <td>$416</td>
                            <td><span class="fs-15 text-muted">24 Apr 2024</span></td>
                            <td>
                                <span class="badge bg-warning-subtle text-warning fs-12 p-1">Overdue</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck4">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1284@32</span></td>
                            <td>Mobile Accessories</td>
                            <td><span class="fs-15 text-muted">15 Apr 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-4.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">David Roderick</h6>
                                </div>
                            </td>
                            <td>$187</td>
                            <td><span class="fs-15 text-muted">25 Apr 2024</span></td>
                            <td>
                                <span class="badge bg-success-subtle text-success fs-12 p-1">Paid</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck5">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1279@69</span></td>
                            <td>Electronics</td>
                            <td><span class="fs-15 text-muted">6 Dec 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-5.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">James Zavel</h6>
                                </div>
                            </td>
                            <td>$165</td>
                            <td><span class="fs-15 text-muted">14 Dec 2024</span></td>
                            <td>
                                <span class="badge bg-success-subtle text-success fs-12 p-1">Paid</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck6">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1279@69</span></td>
                            <td>Electronics</td>
                            <td><span class="fs-15 text-muted">1 Jan 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-6.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Denese Martin</h6>
                                </div>
                            </td>
                            <td>$165</td>
                            <td><span class="fs-15 text-muted">14 Jan 2024</span></td>
                            <td>
                                <span class="badge bg-danger-subtle text-danger fs-12 p-1">Cancelled</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck7">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1276@33</span></td>
                            <td>Watches</td>
                            <td><span class="fs-15 text-muted">2 Dec 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-7.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Jack Nunnally</h6>
                                </div>
                            </td>
                            <td>$192</td>
                            <td><span class="fs-15 text-muted">2 Dec 2024</span></td>
                            <td>
                                <span class="badge bg-warning-subtle text-warning fs-12 p-1">Overdue</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck8">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1278@29</span></td>
                            <td>Bags</td>
                            <td><span class="fs-15 text-muted">12 May 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-8.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Margaret Shaw</h6>
                                </div>
                            </td>
                            <td>$159</td>
                            <td><span class="fs-15 text-muted">24 May 2024</span></td>
                            <td>
                                <span class="badge bg-success-subtle text-success fs-12 p-1">Paid</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck9">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1271@96</span></td>
                            <td>Cloth's</td>
                            <td><span class="fs-15 text-muted">21 Jun 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-9.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Anthony Williams</h6>
                                </div>
                            </td>
                            <td>$259</td>
                            <td><span class="fs-15 text-muted">1 July 2024</span></td>
                            <td>
                                <span class="badge bg-danger-subtle text-danger fs-12 p-1">Cancelled</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck10">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1986@65</span></td>
                            <td>Sofa</td>
                            <td><span class="fs-15 text-muted">12 Aug 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-10.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Axie Barnes</h6>
                                </div>
                            </td>
                            <td>$259</td>
                            <td><span class="fs-15 text-muted">28 Aug 2024</span></td>
                            <td>
                                <span class="badge bg-success-subtle text-success fs-12 p-1">Paid</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                        <tr>
                            <td class="ps-3">
                                <input type="checkbox" class="form-check-input" id="customCheck11">
                            </td>
                            <td><span class="text-muted fw-semibold">#PC1984@38</span></td>
                            <td>Shoes</td>
                            <td><span class="fs-15 text-muted">8 Aug 2024</span></td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-sm">
                                        <img src="{% static '/images/users/avatar-1.jpg' %}" alt=""
                                            class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="fs-14 mb-0">Glen Morning</h6>
                                </div>
                            </td>
                            <td>$256</td>
                            <td><span class="fs-15 text-muted">30 Aug 2024</span></td>
                            <td>
                                <span class="badge bg-warning-subtle text-warning fs-12 p-1">Pending</span>
                            </td>
                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-end">
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-primary btn-icon btn-sm rounded-circle"> <i
                                            class="ri-eye-line"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-success btn-icon btn-sm rounded-circle"> <i
                                            class="ri-edit-box-line fs-16"></i></a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-soft-danger btn-icon btn-sm rounded-circle"> <i
                                            class="ri-delete-bin-line"></i></a>
                                </div>
                            </td>
                        </tr><!-- end table-row -->
                    </tbody><!-- end table-body -->
                </table><!-- end table -->
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <ul class="pagination mb-0 justify-content-center">
                        <li class="page-item disabled">
                            <a href="#" class="page-link"><i class="ri-arrow-left-double-line"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link"><i class="ri-arrow-right-double-line"></i></a>
                        </li>
                    </ul><!-- end pagination -->
                </div><!-- end flex -->
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

{% endblock page_content %}

{% block extra_javascript %}

{% endblock extra_javascript %}