{% extends 'vertical.html' %}

{% load static %}

{% block title %}Apex Candlestick Charts{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Candlestick Charts' topbarSubtitle='Apex' %}
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Simple Candlestick Chart</h4>
                <div dir="ltr">
                    <div id="simple-candlestick" class="apex-charts" data-colors="#0acf97,#fa5c7c">
                    </div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Combo Candlestick Chart</h4>
                <div dir="ltr">
                    <div id="combo-candlestick" class="apex-charts" data-colors="#0acf97,#fa5c7c"></div>
                    <div id="combo-bar-candlestick" class="apex-charts" data-colors="#777edd,#f9bc0b">
                    </div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Category X-Axis</h4>
                <div dir="ltr">
                    <div id="x-axis-candlestick" class="apex-charts" data-colors="#0acf97,#fa5c7c,#777edd"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Candlestick with Line</h4>
                <div dir="ltr">
                    <div id="candlestick-with-line" class="apex-charts" data-colors="#777edd,#0acf97,#fa5c7c"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>

{% endblock page_content %}

{% block extra_javascript %}
<script src="{% static '/vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Apex Chart Candlestick Demo js -->
<script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.17/dayjs.min.js"></script>
<script src="{% static '/js/components/chart-apex-candlestick.js' %}"></script>
{% endblock extra_javascript %}