{% extends 'vertical.html' %}

{% load static %}

{% block title %}Apex RadialBar Charts{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Dashboard' topbarSubtitle='Apex' %}
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Basic RadialBar Chart</h4>
                <div dir="ltr">
                    <div id="basic-radialbar" class="apex-charts" data-colors="#39afd1"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Multiple RadialBars</h4>
                <div dir="ltr">
                    <div id="multiple-radialbar" class="apex-charts" data-colors="#45bbe0,#f9bc0b,#777edd,#0acf97">
                    </div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Circle Chart - Custom Angle</h4>
                <div class="text-center" dir="ltr">
                    <div id="circle-angle-radial" class="apex-charts" data-colors="#0acf97,#777edd,#fa5c7c,#f9bc0b">
                    </div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Circle Chart with Image</h4>
                <div dir="ltr">
                    <div id="image-radial" class="apex-charts"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Stroked Circular Guage</h4>
                <div dir="ltr">
                    <div id="stroked-guage-radial" class="apex-charts" data-colors="#777edd"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Gradient Circular Chart</h4>
                <div dir="ltr">
                    <div id="gradient-chart" class="apex-charts" data-colors="#8f75da,#777edd"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Semi Circle Gauge</h4>
                <div dir="ltr">
                    <div id="semi-circle-gauge" class="apex-charts" data-colors="#777edd"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>

{% endblock page_content %}

{% block extra_javascript %}
<!-- Apex Chart js -->
<script src="{% static '/vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Apex Chart RadialBar Demo js -->
<script src="{% static '/js/components/chart-apex-radialbar.js' %}"></script>
{% endblock extra_javascript %}