{% extends 'vertical.html' %}

{% load static %}

{% block title %}Remixicon{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Remixicon' topbarSubtitle='Icons' %}
{% endblock page_title %}

{% block page_content %}

<div class="d-flex flex-wrap gap-3 justify-content-center icon-box">
    <!-- Icon 1 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="4k">
            <i class="ri-4k-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 2 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Refresh">
            <i class="ri-refresh-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 3 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Add">
            <i class="ri-add-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 4 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Alarm">
            <i class="ri-alarm-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 5 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Apple">
            <i class="ri-apple-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 6 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Archive">
            <i class="ri-archive-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 7 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Arrow Down">
            <i class="ri-arrow-down-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 8 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Arrow Up">
            <i class="ri-arrow-up-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 9 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Play">
            <i class="ri-play-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 10 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Bank">
            <i class="ri-bank-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 11 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Battery">
            <i class="ri-battery-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 12 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Bell">
            <i class="ri-bell-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 13 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Book">
            <i class="ri-book-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 14 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Camera">
            <i class="ri-camera-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 15 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Cloud">
            <i class="ri-cloud-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 16 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Code">
            <i class="ri-code-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 17 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Computer">
            <i class="ri-computer-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 18 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Compass">
            <i class="ri-compass-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 19 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Contacts">
            <i class="ri-contacts-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 20 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Delete">
            <i class="ri-delete-bin-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 21 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Download">
            <i class="ri-download-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 22 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Edit">
            <i class="ri-edit-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 23 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Search">
            <i class="ri-search-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 24 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="File">
            <i class="ri-file-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 25 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Filter">
            <i class="ri-filter-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 26 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Flag">
            <i class="ri-flag-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 27 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Folder">
            <i class="ri-folder-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 28 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Gift">
            <i class="ri-gift-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 29 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Home">
            <i class="ri-home-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 30 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Image">
            <i class="ri-image-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 31 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Input">
            <i class="ri-input-method-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 32 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Instagram">
            <i class="ri-instagram-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 33 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Settings">
            <i class="ri-settings-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 34 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Keyboard">
            <i class="ri-keyboard-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 35 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Lightbulb">
            <i class="ri-lightbulb-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 36 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Lock">
            <i class="ri-lock-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 37 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Logout">
            <i class="ri-logout-box-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 38 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Mail">
            <i class="ri-mail-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 39 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Map">
            <i class="ri-map-pin-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 40 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Message">
            <i class="ri-message-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 41 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="More">
            <i class="ri-more-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 42 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Notification">
            <i class="ri-notification-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 43 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Shopping Cart">
            <i class="ri-shopping-cart-line fs-32 lh-1"></i>
        </div>
    </div>

    <!-- Icon 44 -->
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Phone">
            <i class="ri-phone-line fs-32 lh-1"></i>
        </div>
    </div>

</div>

</div>


<div class="my-3 text-center">
    <a href="https://remixicon.com/" target="_blank" class="btn btn-danger">View All
        Icons</a>
</div>

{% endblock page_content %}

{% block extra_javascript %}

{% endblock extra_javascript %}