{% extends 'vertical.html' %}

{% load static %}

{% block title %}Vector Maps{% endblock title %}

{% block extra_css %}
<link href="{% static '/vendor/jsvectormap/jsvectormap.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Vector Maps' topbarSubtitle='Maps' %}
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">World Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="world-map-markers" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">World Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="world-map-markers-line" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">India Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="india-vector-map" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">Canada Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="canada-vector-map" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">Russia Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="russia-vector-map" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">US Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="usa-vector-map" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">Iraq Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="iraq-vector-map" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0 border-bottom border-dashed">
                <h4 class="header-title">Spain Vector Map</h4>
            </div>
            <div class="card-body">
                <div id="spain-vector-map" style="height: 360px"></div>
            </div> <!-- end card-body-->
        </div> <!-- card end -->
    </div>
</div>

{% endblock page_content %}

{% block extra_javascript %}
<!-- Vector Map Js -->
<script src="{% static '/vendor/jsvectormap/jsvectormap.min.js' %}"></script>
<script src="{% static '/vendor/jsvectormap/maps/world-merc.js' %}"></script>
<script src="{% static '/vendor/jsvectormap/maps/world.js' %}"></script>

<script src="{% static '/js/maps/in-mill-en.js' %}"></script>
<script src="{% static '/js/maps/canada.js' %}"></script>
<script src="{% static '/js/maps/iraq.js' %}"></script>
<script src="{% static '/js/maps/russia.js' %}"></script>
<script src="{% static '/js/maps/spain.js' %}"></script>
<script src="{% static '/js/maps/us-aea-en.js' %}"></script>
<script src="{% static '/js/maps/us-lcc-en.js' %}"></script>
<script src="{% static '/js/maps/us-mill-en.js' %}"></script>

<!-- Vector Map Demo js-->
<script src="{% static '/js/components/maps-vector.js' %}"></script>
{% endblock extra_javascript %}