<!-- Horizontal Menu Start -->
<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="page-container">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="/">
                            <span class="menu-icon"><i class="ri-airplay-line"></i></span>
                            <span class="menu-text"> Dashboards </span>
                        </a>
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-apps" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ri-apps-line"></i></span>
                            <span class="menu-text">Apps</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <a href="{% url 'pages:dynamic_pages' template_name='apps-calendar' %}"
                                class="dropdown-item">Calendar</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='apps-email' %}"
                                class="dropdown-item">Email</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='apps-file-manager' %}"
                                class="dropdown-item">File Manager</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='apps-tickets' %}"
                                class="dropdown-item">Tickets</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='apps-kanban' %}"
                                class="dropdown-item">Kanban Board</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='apps-companies' %}"
                                class="dropdown-item">Companies</a>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-tasks"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Invoice
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-tasks">
                                    <a href="{% url 'pages:dynamic_pages' template_name='apps-invoices' %}"
                                        class="dropdown-item">Invoices</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='apps-invoice-details' %}"
                                        class="dropdown-item">View Invoice</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='apps-invoice-create' %}"
                                        class="dropdown-item">Create Invoice</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-pages" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ri-file-text-line"></i></span>
                            <span class="menu-text">Pages</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Authentication <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-login' %}"
                                        class="dropdown-item">Login</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-register' %}"
                                        class="dropdown-item">Register</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-logout' %}"
                                        class="dropdown-item">Logout</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-recoverpw' %}"
                                        class="dropdown-item">Recover Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-createpw' %}"
                                        class="dropdown-item">Create Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-lock-screen' %}"
                                        class="dropdown-item">Lock Screen</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-confirm-mail' %}"
                                        class="dropdown-item">Confirm Mail</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-login-pin' %}"
                                        class="dropdown-item">Login with PIN</a>                                    
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-error"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Error <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-401' %}"
                                        class="dropdown-item">401 Unauthorized</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-400' %}"
                                        class="dropdown-item">400 Bad Request</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-403' %}"
                                        class="dropdown-item">403 Forbidden</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-404' %}"
                                        class="dropdown-item">404 Not Found</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-500' %}"
                                        class="dropdown-item">500 Internal Server</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-service-unavailable' %}"
                                        class="dropdown-item">Service
                                        Unavailable</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-404-alt' %}"
                                        class="dropdown-item">Error 404 Alt</a>
                                </div>
                            </div>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-starter' %}"
                                class="dropdown-item">Starter Page</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-faq' %}"
                                class="dropdown-item">FAQ</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-pricing' %}"
                                class="dropdown-item">Pricing</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-maintenance' %}"
                                class="dropdown-item">Maintenance</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-timeline' %}"
                                class="dropdown-item">Timeline</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-terms-conditions' %}"
                                class="dropdown-item">Terms & Conditions</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='pages-search-results' %}"
                                class="dropdown-item">Search Results</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-components"
                            role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ri-box-3-line"></i></span>
                            <span class="menu-text">Components</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-ui-kit"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI 1
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ui-kit">
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-accordions' %}"
                                        class="dropdown-item">Accordions</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-alerts' %}"
                                        class="dropdown-item">Alerts</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-avatars' %}"
                                        class="dropdown-item">Avatars</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-badges' %}"
                                        class="dropdown-item">Badges</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-breadcrumb' %}"
                                        class="dropdown-item">Breadcrumb</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-buttons' %}"
                                        class="dropdown-item">Buttons</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-cards' %}"
                                        class="dropdown-item">Cards</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-carousel' %}"
                                        class="dropdown-item">Carousel</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-dropdowns' %}"
                                        class="dropdown-item">Dropdowns</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-embed-video' %}"
                                        class="dropdown-item">Embed Video</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-grid' %}"
                                        class="dropdown-item">Grid</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-list-group' %}"
                                        class="dropdown-item">List Group</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-ui-kit2"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI 2
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ui-kit2">
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-modals' %}"
                                        class="dropdown-item">Modals</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-notifications' %}"
                                        class="dropdown-item">Notifications</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-offcanvas' %}"
                                        class="dropdown-item">Offcanvas</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-placeholders' %}"
                                        class="dropdown-item">Placeholders</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-pagination' %}"
                                        class="dropdown-item">Pagination</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-popovers' %}"
                                        class="dropdown-item">Popovers</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-progress' %}"
                                        class="dropdown-item">Progress</a>                                    
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-spinners' %}"
                                        class="dropdown-item">Spinners</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-tabs' %}"
                                        class="dropdown-item">Tabs</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-tooltips' %}"
                                        class="dropdown-item">Tooltips</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-links' %}"
                                        class="dropdown-item">Links</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-typography' %}"
                                        class="dropdown-item">Typography</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-utilities' %}"
                                        class="dropdown-item">Utilities</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#"
                                    id="topnav-extended-ui" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Extended UI
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-extended-ui">
                                    <a href="{% url 'pages:dynamic_pages' template_name='extended-dragula' %}"
                                        class="dropdown-item">Dragula</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='extended-sweetalerts' %}"
                                        class="dropdown-item">Sweet Alerts</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='extended-ratings' %}"
                                        class="dropdown-item">Ratings</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='extended-scrollbar' %}"
                                        class="dropdown-item">Scrollbar</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-forms"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-forms">
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-elements' %}"
                                        class="dropdown-item">Basic Elements</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-inputmask' %}"
                                        class="dropdown-item">Inputmask</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-picker' %}"
                                        class="dropdown-item">Picker</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-select' %}"
                                        class="dropdown-item">Select</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-range-slider' %}"
                                        class="dropdown-item">Range Slider</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-validation' %}"
                                        class="dropdown-item">Validation</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-wizard' %}"
                                        class="dropdown-item">Wizard</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-fileuploads' %}"
                                        class="dropdown-item">File Uploads</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-editors' %}"
                                        class="dropdown-item">Editors</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-layouts' %}"
                                        class="dropdown-item">Layouts</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-charts"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charts
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-area' %}"
                                        class="dropdown-item">Area</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-bar' %}"
                                        class="dropdown-item">Bar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-bubble' %}"
                                        class="dropdown-item">Bubble</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-candlestick' %}"
                                        class="dropdown-item">Candlestick</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-column' %}"
                                        class="dropdown-item">Column</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-heatmap' %}"
                                        class="dropdown-item">Heatmap</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-line' %}"
                                        class="dropdown-item">Line</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-mixed' %}"
                                        class="dropdown-item">Mixed</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-timeline' %}"
                                        class="dropdown-item">Timeline</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-boxplot' %}"
                                        class="dropdown-item">Boxplot</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-treemap' %}"
                                        class="dropdown-item">Treemap</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-pie' %}"
                                        class="dropdown-item">Pie</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-radar' %}"
                                        class="dropdown-item">Radar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-radialbar' %}"
                                        class="dropdown-item">RadialBar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-scatter' %}"
                                        class="dropdown-item">Scatter</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-polar-area' %}"
                                        class="dropdown-item">Polar Area</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-sparklines' %}"
                                        class="dropdown-item">Sparklines</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-tables"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tables
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-tables">
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-basic' %}"
                                        class="dropdown-item">Basic Tables</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-gridjs' %}"
                                        class="dropdown-item">Gridjs Tables</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatable' %}"
                                        class="dropdown-item">Datatable Tables</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-icons"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Icons
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="{% url 'pages:dynamic_pages' template_name='icons-remix' %}"
                                        class="dropdown-item">Remix Icons</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='icons-solar' %}"
                                        class="dropdown-item">Solar Design</a>
                                </div>
                            </div>
                            <div class="dropdown hover-dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-maps"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Maps
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-maps">
                                    <a href="{% url 'pages:dynamic_pages' template_name='maps-google' %}"
                                        class="dropdown-item">Google Maps</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='maps-vector' %}"
                                        class="dropdown-item">Vector Maps</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='maps-leaflet' %}"
                                        class="dropdown-item">Leaflet Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown hover-dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ri-layout-line"></i></span>
                            <span class="menu-text">Layouts</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <a href="/" class="dropdown-item" target="_blank">Vertical</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-horizontal' %}"
                                class="dropdown-item" target="_blank">Horizontal</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-detached' %}"
                                class="dropdown-item" target="_blank">Detached</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-full' %}" class="dropdown-item"
                                target="_blank">Full</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-fullscreen' %}"
                                class="dropdown-item" target="_blank">Fullscreen</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-hover' %}"
                                class="dropdown-item" target="_blank">Hover Menu</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-compact' %}"
                                class="dropdown-item" target="_blank">Compact Menu</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='layouts-icon-view' %}"
                                class="dropdown-item" target="_blank">Icon View</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<!-- Horizontal Menu End -->